.services {
    margin: 1em auto;
}

.service-item {
    display: inline-block;
    padding: 1em;
    text-align: center;
    vertical-align: top;
    width: 100%;

    @include break(md) {
        width: 32%
    }

    &:first-of-type {
        @include break(md) {
            padding-left: 0;
        }
    }

    &:last-of-type {
        @include break(md) {
            padding-right: 0;
        }
    }
}

.service-item__icon {
    color: $blue-bright;
    font-size: 4rem;
    margin-bottom: .35em;
}

.service-item__title {
    border-bottom: 1px solid $gray-light;
    color: $blue-bright;
    font-size: 1.5rem;
    margin-bottom: .5em;
    padding-bottom: .25em;
}

.service-item__description {
    @include sans-font;
    color: $gray-mid;
}

.services.four-column {
    .service-item {
        @include break(sm) {
            width: 49%;
        }

        @include break(md) {
            width: 24%
        }
    }
}