/*
 * layout.scss
 */

.container {
    margin: 0 auto;
    padding: 1em;

    @include break(md) {
       width: $tablet-width;
   }
}

.retirement {
  background-color: rgba($gray-light, 0.5);
  padding: 1rem 0 0;
}

.section-title {
  color: $blue-dark;
  margin-bottom: 1em;
  text-align: center;
}
