/*
 * typography.scss
 */

h1,
h2,
h3,
h4 {
    @include serif-font;
    margin: 0;
}

h1 {
}

h2 {
    color: $white;
    font-size: 2rem;
    line-height: 1.5em;

    @include break(md) {
        font-size: 2.5rem;
    }
}

h3 {
    color: $blue-bright;
    font-size: 1.625rem;
}

h4 {
    font-size: 1.25rem;
    padding-top: .5em;
}

.em {
    font-style: italic;
}

.sans {
    @include sans-font;
}

p,
ul,
ol {
    @include sans-font;
    line-height: 1.5;
}

li {
    margin-bottom: 0.5em;
}

a {
    color: $green-bright;
    text-decoration: none;
    transition: 300ms all;

    &:hover {
        color: $blue-bright;
    }
}
