/*
 * typography.scss
 */

h1,
h2,
h3,
h4 {
    @include serif-font;
    margin: 0;
}

h1 {
}

h2 {
    color: $white;
    font-size: 35px;
    line-height: 1.5em;

    @include break(md) {
        font-size: 45px;
    }
}

h3 {
    color: $blue-bright;
    font-size: 26px;
}

h4 {
    font-size: 20px;
    padding-top: .5em;
}

.em {
    font-style: italic;
}

.sans {
    @include sans-font;
}

p {
    @include sans-font;
    line-height: 3ex;
}

a {
    color: $green-bright;
    text-decoration: none;
    transition: 300ms all;

    &:hover {
        color: $blue-bright;
    }
}
