.about-us {
    background-color: $gray-light;
    min-height: 600px;
    position: relative;

    @include break(md) {

    }
}

.about-us__photo,
.about-us__description {
    display: block;

    @include break(md) {
        display: inline-block;
        width: 35%;
    }
}

.about-us__photo {
    background-image: url('/img/about-placeholder.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
    position: relative;

    @include break(md) {
        height: 100%;
        position: absolute;
        width: 30%;
    }
}

.about-us__description {
    padding: 1em;
    position: relative;

    @include break(md) {
        padding-right: 14%;
        float: right;
        width: 64%;
    }
}

.about-us__description-content,
.about-us__contact-info {
    padding: 1em;
    vertical-align: middle;

    @include break(md) {
        display: inline-block;
        width: 49%;
    }
}

.about-us__contact-info {
    @include break(md) {
        padding-left: 5em;
    }
}

.contact-info__item {
    margin-bottom: 2em;
    position: relative;
}

.contact-info__item-icon {
    color: $blue-bright;
    font-size: 1.5em;
    position: absolute;
    left: 0;
    width: 50px;
    vertical-align: middle;
    top: 25%;
}

.contact-info__item-number {
    border-left: 2px solid $gray-mid;
    display: inline-block;
    height: 50px;
    vertical-align: middle;
    padding-left: 1em;
    padding-top: .35em;
    margin-left: 50px;
    word-break: break-word;
}
