.column-cards {
  list-style-type: none;
  margin: 3rem 0;
  padding: 0;

  h4 {
    margin: 0 0 0.5rem;
    padding: 0;
  }

  li {
    background-color: $green-bright;
    color: $white;
    padding: 1rem 3rem;
    margin-bottom: 2rem;
    min-height: 7.5rem;
  }
}