.main-menu {
    background-color: $white;
    box-shadow: 0 0 10px $blue-dark;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 100;

    @include break(md) {
        background-color: rgba($white, .8);
    }
}

.main-menu__logo {
    color: $blue-bright;
    text-align: center;

    @include break(md) {
        float: left;
    }
}

.main-menu__navigation-item {
    display: inline-block;
    padding: 0 1em;
    vertical-align: middle;
}

.main-menu__navigation-item a {
    border-bottom: 1px solid transparent;
    color: $gray-mid;
    padding: 0 1em;
    transition: 300ms all;
    vertical-align: -0.3em;

    &:hover {
        border-bottom-color: rgba($gray-mid, .3);
        color: $green-bright;
    }
}
